kratos:
  config:
    dsn: 'mysql://kratos-user:replaceme@tcp(mariadb-galera.mysql-ns.svc.cluster.local:3306)/kratos?parseTime=true&sql_mode=%27%27'
    serve:
      public:
        base_url: http://192.168.8.160:80/
        cors:
          enabled: true
    secrets:
      default:
        - genius christan love grace
        - love grace joy myheart
    identity:
      default_schema_id: default
      schemas:
        - id: default
          url: file:///etc/config/identity.default.schema.json
    courier:
      smtp:
        connection_uri: smtps://replaceme@me.com:replaceme@smtp.protonmail.com:587/?skip_ssl_verify=false
    selfservice:
      default_browser_return_url: http://localhost:4000

      allowed_return_urls:
        - http://localhost:4000

      methods:
        password:
          enabled: true

        link:
          enabled: true
          config:
            lifespan: 15m

      flows:

        settings:
          privileged_session_max_age: 15m

        recovery:
          enabled: true

        verification:
          enabled: true

        login:
          lifespan: 10m

        registration:
          lifespan: 10m
          enabled: true


  automigration:
    enabled: true
  identitySchemas:
    "identity.jsonnet" : |
      function(ctx) { user_id: ctx.identity.id }

    "identity.default.schema.json": |
      {
        "$id": "https://schemas.ory.sh/presets/kratos/quickstart/email-password/identity.schema.json",
        "$schema": "http://json-schema.org/draft-07/schema#",
        "title": "Person",
        "type": "object",
        "properties": {
          "traits": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "title": "E-Mail",
                "minLength": 3,
                "ory.sh/kratos": {
                  "credentials": {
                    "password": {
                      "identifier": true
                    }
                  },
                  "verification": {
                    "via": "email"
                  },
                  "recovery": {
                    "via": "email"
                  }
                }
              },
              "name": {
                "type": "object",
                "properties": {
                  "first": {
                    "title": "First Name",
                    "type": "string"
                  },
                  "last": {
                    "title": "Last Name",
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "email"
            ],
            "additionalProperties": false
          }
        }
      }

